@model website.Models.Skills

<div id='skills' class="container panel panel-default">
	<div class="panel-heading">
		<h2>@ViewContext.RouteData.Values["Controller"]</h2>
	</div>
	<ul class="skills-list"><u>Proficient in:</u>
	@foreach (var skill in Model.proficient)
	{
		<li>@skill</li>
	}
	</ul>
	<ul class="skills-list"><u>Familiar with:</u>
	@foreach (var skill in Model.familiar)
	{
		<li>@skill</li>
	}
	</ul>
</div>
