<div id='resume' class="container panel panel-default">
	<div class="panel-heading">
		<h2>@ViewContext.RouteData.Values["Controller"]</h2>
	</div>

	<p>
	<!-- https://www.dropbox.com/s/p2rpwhtxd8yghaf/main.pdf?dl=0 -->
	@*
	<iframe id="resume-iframe" class="embed-responsive-item" src="@Url.Content("~/Content/media/resume/main.png")" width='595' height='842'></iframe>
	*@
	<img src="@Url.Content("~/Content/Resume/resume-1.png")" width="100%">
	<br>
	To download a PDF copy of my resume, click 
	<a href="@Url.Content("~/Content/Resume/resume.pdf")" download='MattGaikemaResume'>here.</a>
	</p>
</div>