<div id='resume' class="container panel panel-default">
	<div class="panel-heading">
		<h2>@ViewContext.RouteData.Values["Controller"]</h2>
	</div>
	@* http://jsfiddle.net/EVmwe/4/ *@
	<div id="resume-switch">
		@* http://stackoverflow.com/a/24867926/5415895 *@
		<input type="checkbox" name="my-checkbox" data-on-text="Resume" data-off-text="CV" checked>
	</div>
	<img id="image" alt="Resume" src="@Url.Content("~/Content/Resume/resume.png")" width="100%" height="100%">
	<div id='resume-back2top'>
		<a href='#'>Back to top</a>
	</div>
	<br>
	<p>
	To download a PDF copy, click
	<a id='pdf_link' href="@Url.Content("~/Content/Resume/resume.pdf")" download='MattGaikemaResume'>here.</a>
	</p>
</div>
<script src="@Url.Content("~/dist/resume.min.js")"></script>