[submodule "website/Static/Bubble"]
	path = website/Static/Bubble
	url = https://github.com/TexAgg/Bubble.git
[submodule "website/Static/flap_god2"]
	path = website/Static/flap_god2
	url = https://github.com/TexAgg/Flap-God-2.git
[submodule "website/Static/triangle_calculator"]
	path = website/Static/triangle_calculator
	url = https://github.com/TexAgg/TriangleCalculator.git
[submodule "website/Static/Stoplight"]
	path = website/Static/Stoplight
	url = https://gaikema@bitbucket.org/gaikema/stoplight.git
[submodule "website/Static/PepeBall"]
	path = website/Static/PepeBall
	url = https://gaikema@bitbucket.org/gaikema/pepeball.git
[submodule "website/Content/Resume"]
	path = website/Content/Resume
	url = https://github.com/TexAgg/Resume.git
[submodule "website/Static/timer"]
	path = website/Static/timer
	url = https://gaikema@bitbucket.org/gaikema/timer.git
