@model website.Controllers.ContactController

<div class="container panel panel-default">
	<div class="panel-heading">
		<h2>@ViewBag.Title</h2>
	</div>
	<ul>
		@* 
			Add icons:
			https://www.iconfinder.com/social-media-icons
			https://www.iconfinder.com/iconsets/logotypes
		*@
		<li><a href='https://www.linkedin.com/in/matthew-gaikema'>Linkedin</a></li>
		<li><a href='https://github.com/TexAgg'>GitHub</a></li>
		<li>
			<a href='mailto:mgaikema1@gmail.com'>mgaikema1@gmail.com</a>
		</li>
		<li><a href='https://telegram.me/gaikema'>Telegram</a></li>
	</ul>
</div><!--Connect-->