@model System.Collections.Generic.Dictionary<string, string>

<div class="container panel panel-default">
	<div class="panel-heading">
		<h2 class="page-title">@ViewContext.RouteData.Values["Controller"]</h2>
	</div>
	<div class="panel-body">
		<p>
		If you want discounts on any free services, then feel free to use any of these promo links.
		</p>
		<ul class="list-group">
		@foreach (var i in @Model)
		{
			<li class="list-group-item">@i.Key: <a href="@i.Value">@i.Value</a></li>
		}
		</ul>
	</div>
</div>