@model website.Controllers.ProjectsController

<div class="sidebar span4 hidden-phone">
	<ul id="sidebar-menu" class="nav nav-stacked list-group">
		@foreach(var i in @ViewBag.Projects.item)
		{
			<li class='list-group-item'><a href="#@i.id">@i.name</a></li>
		}
	</ul>
</div>

<div id="projects" class="container container-default">
	<div class="panel-heading">
		<h2>@ViewBag.Title</h2>
	</div>
	<div class="panel-group">
		
	</div>
</div>