@using System.ServiceModel.Syndication
@model SyndicationFeed

@section AdditionalMeta
{
    <meta name="robots" content="noindex,nofollow"/>
}

<div class="container panel panel-default">
	<div class="panel-heading">
		<h2>@ViewContext.RouteData.Values["Controller"]</h2>
		<div style="text-align:right;">
			<a href="https://mattgaikema.blogspot.com/feeds/posts/default"><img src="https://www.mozilla.org/media/img/trademarks/feed-icon-14x14.2168a573d0d4.png"></a>
		</div>
	</div>
	<div class="panel-body">
		<ul class="list-group">
			@foreach(var i in @Model.Items)
			{
				<li class="list-group-item">@Html.ActionLink(@i.Title.Text,"Post", "Blog", new{title=@i.Title.Text}, null)</li>
			}
		</ul>
	</div>
</div>
