@using System.ServiceModel.Syndication
@model SyndicationItem

@section AdditionalMeta
{
    <meta name="robots" content="noindex,nofollow"/>
}

@*
Sidebar menu:
https://github.com/TexAgg/website/blob/1f52314c819ca853c045e0e4e4e036cc199c8207/website/Views/Projects/Index.cshtml#L3
https://github.com/TexAgg/website/blob/1f52314c819ca853c045e0e4e4e036cc199c8207/website/Content/styles/style.css#L47
*@

<div class="container panel panel-default">
	<div class="panel-heading">
		<h2>@Model.Title.Text</h2>
	</div>
	@* http://stackoverflow.com/a/2958267/5415895 *@
	<div class="container content-wrapper">
		@{
		TextSyndicationContent tsc = (TextSyndicationContent)Model.Content;
		string myContent = tsc.Text;
		}
		@Html.Raw(@myContent)
	</div>
</div>