@model website.Controllers.HomeController

<div id='about' class="container panel panel-default">
	<div class="panel-heading">
		<h2>@ViewBag.Title</h2>
	</div>

	<div class="media">
		<div class="media-left">
			<img class="media-object"  id="me" src="@Url.Content("~/Content/media/me.jpg")">
		</div><!--media-left-->
		<div class="media-body">
			<h3 class="media-heading">About me</h3>
			<p>
			I am a junior pursuing a double major in Computer Science and Applied Mathematics
			at Texas A&M.
			I am fascinated by the close connection between mathematics and computer science,
			and enjoy researching and solving problems.
			</p>
			<p>
			I mostly program in C++, JavaScript, and R, but I have recently been doing a lot with Mathematica and C#.	
			</p>
			<p>
			In my free time, when I'm not programming, I enjoy running, reading, 
			and playing with my three dogs, Apple, Lucy, and Kiwi.
			</p>
		</div><!--media-body-->
	</div><!--media-->

</div><!--About-->
