/* Apply to all pages. */

body {
	background-color: #f2f2f2;
}

header {
	padding-left: 15px;
}

.jumbo-box {
	/* http://stackoverflow.com/a/14310180/5415895 */
	background-color: rgba(220,220,220, 0.8);
}

.navbar {
	margin-bottom: 0;
}

.jumbotron {
	margin-bottom: 0;
  	background: url("../Graph/graph.png");
}

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ccc;
}


/* Apply to home page. */

#me {
	width: 128px;
	padding-bottom: 10px;
}


/* Apply to projects. */

#projects-intro {
	margin-top: 20px;
}

.proj {
	display: none;
}

.proj-modal {
	position: relative;
	width: 300px;
	height: 300px;
	display: block;
	margin: 0 auto;
	border-radius: 20px;
}

.proj-modal:hover {
	opacity: 0.7;
}

.project-wrapper {
	border-style: solid;
	border-radius: 15px;
	border-color: rgba(220,220,220, 0.8);
	border-width: 1px;
	/* http://stackoverflow.com/a/8809958/5415895 */
	cursor: pointer;
}

.sidebar  {
	/*width: 150px;*/
	width: auto;
	float: left; 
	height: 200px;
	/* Uncomment this to make the menu sticky. */
	/*position: fixed;*/
}

#sidebar-menu {
	width: 13vw;
}

/* http://stackoverflow.com/a/26032279/5415895 */
@media only screen and (max-width: 760px) {
	.hidden-phone
	{
		display: none;
	}
}

#resume_img {
	margin-top: 10px;
}


/* http://stackoverflow.com/a/18801404/5415895 */
#resume-iframe {
	max-width: 100%;
}

#resume-switch {
	text-align: center;
}

#resume-back2top {
	text-align: center;
}


/* Apply to contacts. */

#fb {
	width: 24px;
	height: 24px;
	margin: 0 5px;
}

#gh {
	width: 24px;
	height: 24px;
}

.contact-icon {
	padding-right: 3px;
	width: 28px;
	height: 28px;
}

/* http://www.colorzilla.com/gradient-editor/ */